
.page {
    padding-left: 20%;
    padding-right: 20%;
    
}
/* header {
    margin: auto;
    font-size: 24px;
  } */
  
  section {
    font-size: 18px;
    background-color: #bbb;
  }
    

  .right {
    width: 50%;
    background-color: rgb(143, 142, 142);

  }
  .left{
    width: 50%;
    background-color: #DDD;
  }
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
  }